

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 16px;
}

.ticket {
  background-color: white;
  padding: 20px;
  /* border-radius: 16px; */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  text-align: center;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  text-align: left;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header h1 {
  font-size: 19px;
  font-weight: 600;
  margin: 0;
  color: #000f28;
}

.header-subtext {
  font-size: 13px;
  color: #5a5a5a;
  margin-top: 2px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: white;
  font-size: 37px;
  font-weight:lighter;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 0;
}

.circle {
  width: 108px;
  height: 108px;
  margin: 0 auto 50px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 25px #000f28;
  animation: pulse-ring 1.8s ease-in-out infinite;
}

.circle-content {
  display: flex;
  align-items: center;
  gap: 2px;
}

@keyframes pulse-ring {
  0% {
    box-shadow: 0 0 0 10px #002462;
  }
  50% {
    box-shadow: 0 0 0 28px rgba(11, 61, 145, 0.8);
  }
  100% {
    box-shadow: 0 0 0 10px #002462;
  }
}

.logo {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

.circle-text {
  font-size: 13px;
  font-weight: bold;
  color: #01102b;
}

.clock {
  font-size: 48px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 8px;
  line-height: 1.2;
}

.info-box {
  padding: 3px 30px;
  text-align: left;
  font-size: 12px;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12); /* subtle shadow */
  margin-bottom: 20px;
}

.expire {
  font-size: 13px;
  font-weight: bold;
  margin-top: 25px; /* Increased gap */

}
